
<section class="footer">
    <div class="footer-top-line">
      <div class="footer-top-line-content">
        <ul>
          <li><i class="fa fa-shield"></i></li>
          <li> <strong>%100 Güvenli Alışveriş</strong>
            <p class="light-text">SSL Sertifikası</p>
          </li>
          <li><i class="fa fa-car"></i></li>
          <li> <strong>Hızlı Gönderim</strong>
            <p class="light-text">Aynı Gün Kargo İmkanı</p>
          </li>
          <li><i class="fa fa-refresh"></i></li>
          <li> <strong>Kolay İade</strong>
            <p class="light-text">Koşulsuz 14 Gün İade Hakkı</p>
          </li>
          <li><i class="fa fa-phone"></i></li>
          <li> <strong>Müşteri Destek Hattı</strong>
            <p class="light-text">000 0000 0000</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-mid">
     <a href="/"> <img class="footer-logo" src="img/logo.png" alt=""></a>
      <p> <a href="#">Hakkımızda</a> <span>/</span> <a href="#">İnsan Kaynakları</a> <span>/</span><a href="#">
          Kurumsal</a>
        <span>/</span><a href="#"> Marka Koruma Merkezi</a> <span>/</span> <a href="#"> Markalar</a> <span>/</span>
        <a href="#">İletişim</a> </p>
    </div>

  </section>


  <section class="footer-bottom">

    <p>Aradığınız Her Şeyi Bulabileceğiniz Bir Alışveriş Sitesi</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores soluta corrupti facilis animi officia at
      minima optio, deserunt,
      tempore facere adipisci neque enim distinctio ipsam quaerat amet repellat, doloremque nobis! Lorem ipsum,
      dolor sit amet consectetur adipisicing elit.
      Magni, quis delectus nulla, nisi beatae expedita voluptatem rem animi libero culpa architecto consectetur ipsa
      nobis nesciunt. Maiores dolore quo debitis
      tempore?

    </p><p><strong class="stores">Mağazalar: </strong><span><a href="#"> Mağaza Girişi</a></span> <span>/</span>
      <span><a href="#">
          Mağaza Puanı Hesaplaması</a></span> <span>/</span>
      <span><a href="#"> Mağaza Yardım Merkezi</a></span> <span>/</span> <span><a href="#"> Yeni Mağaza
          Rehberi</a></span> <span>/</span>
      <span><a href="#"> Kargo Rehberi</a></span>
    </p>
    <div class="last-one">
      <span class="site-map" style="display:flex; justify-content: center;"> <strong class="customers">Müşteriler:
        </strong>
        <ul>
          <li>Üye Ol</li>
          <li> Yeni Üye Rehberi</li>
          <li> Yardım</li>
          <li> Ödeme Seçenekleri</li>
          <li> İptal , İade , Değişim</li>
          <li> İşlem Rehberi</li>
          <li> Kullanıcı Güvenliği</li>
          <li> Site Rehberi</li>
          <li> Kupon Kullanım Rehberi</li>


        </ul>
      </span>
    </div>

  </section>

  <section class="social-media">
    <div class="social-icons">
      <ul>
        <li><a href="#"> <img src="img/facebook.png" alt=""></a></li>
        <li><a href="#"> <img src="img/instagram.png" alt=""></a></li>
        <li><a href="#"> <img src="img/twitter.png" alt=""></a></li>
        <li><a href="#"> <img style="border-radius:2px" src="img/youtube.png" alt=""></a></li>

      </ul>
    </div>
  </section>