<section id="header">
    <div class="header-top">
      <ul class="header-top-right">
        <li><a href="/">Anasayfa </a></li>
        <li><a href="/about-us.html">Hakkımızda </a></li>
        <li><a href="/contact.html">Bize Ulaşın </a></li>
        <li><a href="/login.html">Giriş Yap </a>
          <span>/</span>
          <a href="/register.html">Üye Ol</a> </li>
      </ul>
    </div>
    <div class="header-mid">
      <div class="row header-mid-row">
        <div class=" col-lg-3 col-md-12 col-sm-12 col-xs-12 col-12">
          <div class="brand">
            <a href="/"> <img src="img/logo.png" alt=""></a>
          </div>
        </div>


        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-12">
          <div class="header-mid-center">
            <form class="header-center-form desktop" action="">
              <select name="" id="">
                <option value="deneme"> Ürünler</option>
              </select>
              <input placeholder="Aradığınız ürün, kategori veya markayı yazın." type="text">
              <button> <i style="font-weight:200" class="fa fa-search"></i> Arama</button>
            </form>
           
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 col-12 p-0">
          <div class="header-mid-right">
            <ul>
            
              <li> <a href="/login.html"><i class="fa fa-user"></i></a>
                <a href="/personal-details.html">Hesap</a></li>
              <li> <a href="/my-favorites.html"><i class="fa fa-heart"></i></a>
                <a href="/my-favorites.html"> Favorilerim</a></li>
              <li> <a href="/cart.html"><i class="fa fa-shopping-cart"></i></a>
                <a href="/cart.html">Sepetim</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>